{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <li>{{  category.title }}</li>
    {% else %}
        <li><em>no categories exist. <a href="{{ path('category.create') }}">Click here</a> to add your first category :)</em></li>
    {% endfor %}
{% endblock %}