article {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  padding: 13px;
  display: flex;
  margin-bottom: 10px;
}

h3 {
  margin: 0px;
}

.download-link {
  font-size: 11px;
  margin-bottom: 3px;
}

.episode-description {
  line-height: 20px;
}

.episode-image {
  width: 110px;
  margin-right: 25px;
}

.episode-link {
  text-decoration: none;
  color: salmon;
}
