h1 {
  font-size: 50px;
  text-align: center;
}

.subscribe {
  text-align: center;

  & i {
    padding: 3px;
    margin: 3px;
    font-size: 25px;
    color: white;
    position: relative;
    top: 5px;
  }
}

.link-list-item {
  display: inline-block;
  background-color: black;
  width: 8%;
  border-radius: 100%;
  margin: 5px 10px 20px 5px;
  height:45px;
}

.icon {
  text-decoration: none;
  border-radius: 100%;
}

.description {
  text-align: center;

  & p {
    line-height: 25px;
  }
}
