<div class="footer-container">
<p><i>{{ podcast.author }}</i></p>
<div class="image-wrapper">
    <img src="{{ podcast.image  }}" class="footer-img">
</div>
<p>2017 {{ podcast.title }}</p>

    </div>