<li class="link-list-item">
    <a href="{{ settings.iTunes }}" class="icon">
        <i class="fa fa-podcast fa-3" aria-hidden="true"></i>
    </a>
</li>
<li class="link-list-item">
    <a href="/subscribe.rss" class="icon">
        <i class="fa fa-rss fa-3" aria-hidden="true"></i>
    </a>
</li>
<li class="link-list-item" class="icon">
    <a href="{{ settings.twitter }}">
        <i class="fa fa-twitter fa-3" aria-hidden="true"></i>
    </a>
</li>
<li class="link-list-item">
    <a href="{{ settings.facebook }}" class="icon">
        <i class="fa fa-facebook fa-3" aria-hidden="true"></i>
    </a>
</li>