{% extends 'base.html.twig' %}

{% block body %}
    {% for tag in tags %}
        <li>
            {{  tag.title }}
            <a href="{{ path('tag.create', {'tagId': tag.id}) }}">
                Edit
            </a>
        </li>
    {% else %}
        <li>
            <em>
                no tags exist.
                <a href="{{ path('tag.create') }}">
                    Click here</a> to add your first tag :)
            </em>
        </li>
    {% endfor %}
{% endblock %}